name: Run Report

on:
  workflow_dispatch:
    inputs:
      distinct_id:
        description: "Unique identifier for the run"

concurrency:
  group: test-report

env:
  # Name of Azure Web APP
  APP_NAME: app

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: echo distinct ID ${{ github.event.inputs.distinct_id }}
        run: echo ${{ github.event.inputs.distinct_id }}

      - name: Run Report
        run: sleep ${{ vars.VAR_SLEEPDURATION }}

      - name: Publish Report
        run: sleep ${{ vars.VAR_SLEEPDURATION }}